@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Pacifico|Shadows+Into+Light&display=swap');
body{
  justify-content: center;
  align-items: center;

}
@media (min-width:1900px) and (max-width:2205px)  {
.img1{
   width: 20%;
   margin-left: 40%;
}

.h1{
  font-family: 'Pacifico', cursive;
  font-size: 600%;
  color: #52968b;
  border-color: #52968b;
  margin-left: 35%;
  margin-top: -5%

}

.h2{
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: #52968b;
  margin-left: 43%;
  margin-top: -2%

}

.img2{
   width: 3%;
   height: .5%;
   margin-left: 48%;

 }

}
@media (min-width:1632px)and (max-width:1900px){
.img1{
   width: 20%;
   margin-left: 40%;
}

.h1{
  font-family: 'Pacifico', cursive;
  font-size: 600%;
  color: #52968b;
  border-color: #52968b;
  margin-left: 25%;
  margin-top: -5%

}

.h2{
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: #52968b;
  margin-left: 38%;
  margin-top: -2%

}

.img2{
   width: 3%;
   height: .5%;
   margin-left: 48%;
   margin-top: -2%

 }

}

@media screen and (max-width:1632px){
.img1{
   width: 20%;
   margin-left: 40%;
}

.h1{
  font-family: 'Pacifico', cursive;
  font-size: 600%;
  color: #52968b;
  border-color: #52968b;
  margin-left: 25%;
  margin-top: -5%

}

.h2{
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: #52968b;
  margin-left: 38%;
  margin-top: -2%

}

.img2{
   width: 3%;
   height: .5%;
   margin-left: 48%;
   margin-top: -2%

 }

}

@media screen and (max-width:1366px) {
  .img1{
     width: 20%;
     margin-left: 40%;
     margin-top: 10%;
  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 600%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 25%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: #52968b;
    margin-left: 38%;
    margin-top: -5%

  }

  .img2{
     width: 3%;
     height: .5%;
     margin-left: 48%;

   }

}

@media screen and (max-width:1024px) and (orientation:portrait) {
  .img1{
     width: 35%;
     margin-left: 35%;
     margin-top: 20%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 500%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 20%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: #52968b;
    margin-left: 35%;
    margin-top: -5%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 1%

   }

}


@media screen and (max-width:1024px) and (orientation:landscape) {
  .img1{
     width: 25%;
     margin-left: 40%;
     margin-top: 5%;
  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 500%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 20%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: #52968b;
    margin-left: 35%;
    margin-top: -5%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 1%

   }

}
@media screen and (max-width:768px) {
  .img1{
     width: 35%;
     margin-left: 35%;
     margin-top: 20%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 400%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 15%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 300%;
    color: #52968b;
    margin-left: 28%;
    margin-top: -5%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 1%

   }

}

@media screen and (max-width:812px) and (orientation:landscape) {
  .img1{
     width: 30%;
     margin-left: 5%;
     margin-top: 2%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 350%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 35%;
    margin-top: -35%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: #52968b;
    margin-left: 48%;
    margin-top: -2%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 1%

   }

}

@media screen and (max-width:375px) {
  .img1{
     width: 60%;
     margin-left: 21%;
     margin-top: 35%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 250%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 6%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: #52968b;
    margin-left: 15%;
    margin-top: -5%

  }

  .img2{
     width: 8%;
     height: 2.5%;
     margin-left: 47%;
     margin-top: 1%

   }

}


@media screen and (max-width:414px) {
  .img1{
     width: 60%;
     margin-left: 21%;
     margin-top: 18%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 250%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 11%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: #52968b;
    margin-left: 20%;
    margin-top: -5%

  }

  .img2{
     width: 8%;
     height: 2.5%;
     margin-left: 47%;
     margin-top: 1%

   }

}

@media screen and (max-width:667px) and (orientation:landscape) {
  .img1{
     width: 45%;
     margin-left: 5%;
     margin-top: 4%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 45%;
    margin-top: -35%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 150%;
    color: #52968b;
    margin-left: 55%;
    margin-top: -2%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 1%

   }

}

@media screen and (max-width:375px) {
  .img1{
     width: 50%;
     margin-left: 26%;
     margin-top: 10%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 240%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 5%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 150%;
    color: #52968b;
    margin-left: 25%;
    margin-top: -5%

  }

  .img2{
     width: 8%;
     height: 2.5%;
     margin-left: 47%;
     margin-top: 1%

   }

}

@media screen and (max-width:568px) and (orientation:landscape) {
  .img1{
     width: 40%;
     margin-left: 5%;
     margin-top: 2%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 220%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 45%;
    margin-top: -45%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 120%;
    color: #52968b;
    margin-left: 58%;
    margin-top: -2%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 5%

   }

}

@media screen and (max-width:320px) {
  .img1{
     width: 60%;
     margin-left: 21%;
     margin-top: 18%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 10%;
    margin-top: -5%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 150%;
    color: #52968b;
    margin-left: 20%;
    margin-top: -5%

  }

  .img2{
     width: 8%;
     height: 2.5%;
     margin-left: 47%;
     margin-top: 1%

   }

}

@media screen and (max-width:823px) and (orientation:landscape) {
  .img1{
     width: 30%;
     margin-left: 5%;
     margin-top: 2%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 250%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 35%;
    margin-top: -35%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    color: #52968b;
    margin-left: 48%;
    margin-top: -2%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 1%

   }

}


@media screen and (max-width:640px) and (orientation:landscape) {
  .img1{
     width: 40%;
     margin-left: 5%;
     margin-top: 2%;

  }

  .h1{
    font-family: 'Pacifico', cursive;
    font-size: 220%;
    color: #52968b;
    border-color: #52968b;
    margin-left: 48%;
    margin-top: -45%

  }

  .h2{
    font-family: 'Pacifico', cursive;
    font-size: 120%;
    color: #52968b;
    margin-left: 61%;
    margin-top: -2%

  }

  .img2{
     width: 5%;
     height: 1.5%;
     margin-left: 51%;
     margin-top: 8%

   }

}
