@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Pacifico|Shadows+Into+Light&display=swap');

.h1presentacion{
  font-family: 'Pacifico', cursive;
  font-size: 600%;
  color: #b9c4ca;
  margin-left: 25%;

}

.p{
  font-family: 'Shadows Into Light', cursive;
  font-size: 250%;
  color: #b9c4ca;
  margin-left: 20%;
  margin-top: -5%;

}

.parrafo{
  font-family: 'Shadows Into Light', cursive;
  font-size: 200%;
  color: #b9c4ca;
  margin-left: 15%;
  margin-top: -3%;
  padding-top: 1%;

}


.img2presentacion{
   width: 3%;
   height: .5%;
   margin-left: 48%;
   margin-top: 13%;

}

.img2imagenes{
   width: 3%;
   height: .5%;
   margin-left: 48%;
   margin-top: 1%;

}
